#Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=myuser
DB_PASSWORD=mypassword
DB_NAME=mydb
CONTAINER_NAME=CONTAINER_NAME

#Application
ENVIRONMENT=dev
APPLICATION_PORT=4000
APPLICATION_URL="http://localhost:${APPLICATION_PORT}"
APPLICATION_ORIGIN='http://localhost:3000'
