#Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=myuser
DB_PASSWORD=mypassword
DB_NAME=mydb
CONTAINER_NAME=CONTAINER_NAME

#Application
ENVIRONMENT=dev
APPLICATION_PORT=4000
APPLICATION_URL="http://localhost:${APPLICATION_PORT}"
APPLICATION_ORIGIN='http://localhost:3000'



 #налаштування сесії та кукі
COOKIES_SECRET='secret'
SESSION_SECRET='secret'
SESSION_NAME='session'
SESSION_DOMAIN='localhost'
SESSION_MAX_AGE=3600000
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER=sessions


#Налаштування redis
REDIS_USER='default'#для reidsInsight залишити пустим поле
REDIS_PASSWORD=pass123456
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URI=redis://:pass123456@localhost:6379


#налаштування пошти
MAIL_HOST='smtp.gmail.com'
MAIL_PORT='698'
MAIL_LOGIN='testtest@gmail.com'
MAIL_PASSWORD='1111 2222 3333 4444'

